@inherits LayoutComponentBase
@inject IJSRuntime JS

<PageTitle>YKToolkit.Blazor.Sample</PageTitle>

<ErrorBoundary @ref="_errorBoundary">
  <ChildContent>
    <Header />
    <main class="main-contents container-fluid mb-5">
        <div class="row mt-2">
          @Body
        </div>
    </main>
    <ModalDialog />
    <Footer />
  </ChildContent>
  <ErrorContent>
    <div class="container-fluid">
      <div class="row">
        <p>例外が発生しています [@context.GetType().ToString()]</p>
        <p>@context.Message</p>
        @if (context.StackTrace is not null)
        {
          @foreach (var line in context.StackTrace.Split("at ", StringSplitOptions.RemoveEmptyEntries).ToList())
          {
            <p>@line</p>
          }
        }
      </div>
      <div class="row col-4 bt-4">
        <button @onclick="() => OnResetButtonClick()">Reset</button>
      </div>
    </div>
  </ErrorContent>
</ErrorBoundary>

@code {
  private ErrorBoundary? _errorBoundary;

  private void OnResetButtonClick()
  {
    this._errorBoundary?.Recover();
  }

  protected override async Task OnAfterRenderAsync(bool firstRender)
  {
    await JS.InvokeVoidAsync("RegisterOnScrollEvent");
  }
}