@using Microsoft.AspNetCore.Components.Web
@namespace YKToolkit.Blazor.Sample.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="YKToolkit.Blazor.Sample.styles.css" rel="stylesheet" />
    <link href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.2.0/build/styles/atom-one-dark.min.css" rel="stylesheet" />
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>
    @RenderBody()

    <script src="_framework/blazor.server.js"></script>
    <script src="/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script>
        var isFirst = true; // イベント登録は初回のみ
        window.RegisterOnScrollEvent = function () {
            var header = document.getElementById('common-header');
            if (isFirst == true)
            {
                document.addEventListener("scroll", function() {
                    var y = window.scrollY;
                    if (y > 80)
                    {
                        header.classList.add("change-background");
                    }
                    else
                    {
                        header.classList.remove("change-background");
                    }
                });
                isFirst = false;
            }
        };
    </script>
    <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.2.0/build/highlight.min.js"></script>
    <script>
        window.highlightSnippet = function() {
	        // <pre><code>部を全部抜き出して
            document.querySelectorAll('pre code').forEach((el) => {
                // 行番号用のギミックを含めて
                hljs.addPlugin({
                    'after:highlightElement': ({ el, result}) => {
                        el.innerHTML = result.value.replace(/^/gm,'<span class="row-number"></span>');
                    }
                });
	            // ハイライトする
                hljs.highlightElement(el);
            });
        }
    </script>
</body>
</html>
