@page "/"
@inherits ViewComponentBase<MainViewModel>

<PageTitle>YKToolkit.Blazor Sample</PageTitle>

<div class="container-fluid">
    <div class="row">
        <p class="text-center fs-1">YKToolkit.Blazor</p>
        <p class="text-center">is useful Razor components in MVVM infrastructure.</p>
    </div>
</div>
