@page "/Tutorials/CreateNewProject"

<div class="container-fluid">
  <div class="row">

    <SidebarMenuItems CurrentPage="Create new project" />

    <main class="col ms-auto">
      <div class="justify-content-between">
        <h1>プロジェクトの新規作成</h1>
        <p>Blazor Server アプリケーション開発のためのプロジェクトを作成します。</p>

        <h2>Visual Studio のプロジェクト作成</h2>
        <p>Visual Studio 2022 で「ファイル」→「新規作成」→「プロジェクト」を選択すると次のようなダイアログが表示されます。</p>
        <img src="img/Tutorial/CreateNewProject/01_NewProject.png" />
        <p>「Blazor Server アプリ」を選択して「次へ」を押します。</p>
        <img src="img/Tutorial/CreateNewProject/02_ProjectName.png" />
        <p>プロジェクト名とソリューションの保存先を指定します。プロジェクト名と異なるソリューション名にしたい場合はソリューション名も指定します。「次へ」を押して次へ進みます。</p>
        <img src="img/Tutorial/CreateNewProject/03_Configurations.png" />
        <p></p>
      </div>
    </main>
  </div>
</div>
