@page "/Tutorials/FirstStep"


<SidebarMenuItems CurrentPage="Introductions" />

<div class="col-9">
  <div class="justify-content-between">
    <h1>概要</h1>
    <p>Blazor Server アプリケーション開発を始めましょう。</p>

    <h2></h2>
  </div>
</div>
