@page "/Tutorials/ViewComponentBase"
@inherits HighlightView

<SidebarMenuItems CurrentPage="ViewComponentBase class" />

<div class="col-9">
<h3>ViewComponentBase&lt;T&gt; Class</h3>
<p>ViewComponentBase&lt;T&gt; クラスはジェネリッククラスですが、INotifyPropertyChanged インターフェースを実装したクラスを指定することで INotifyPropertyChanged.PropertyChanged イベントを自動的に購読し、イベント発生時に再レンダリングをおこないます。</p>
</div>

@code {

}
