@page "/Tutorials/YKToolkit"
@inherits HighlightView

<SidebarMenuItems CurrentPage="YKToolkit" />

<div class="col-9">
<h3>YKToolkit.Blazor</h3>
<p>YKToolkit ライブラリでは、YKToolkit.Blazor 名前空間で Blazor アプリケーション開発のための様々なコンポーネントを提供しています。ここではそれらコンポーネントの導入方法についてのチュートリアルを紹介します。</p>
</div>
